<div class="welcome-page" *ngIf="home">
  <h2>Welcome to Clinic Bookings</h2>
  <div class="card">
    <div class="card-body">
      <p>...</p>
      <p class="card-text">Avoid queues and book a date and time for a clinic visit, You will need:</p>
      <ul style="text-align:left; color:black">
        <li>Id/Passport details</li>
        
      </ul>
      <button type="submit" class="btn btn-success" (click)="bookASlotToogle()">Book A Slot</button>
    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      <p>...</p>
      <p class="card-text">If you do not remember your assigned slot, you can request it, You will need:</p>      <ul style="text-align:left; color:black">
        <li>ID/passport number</li>
      </ul>
      <button type="submit" class="btn btn-warning" (click)="getReferenceToogle()">Get Current Slot</button>

    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      <p>...</p>
      <p class="card-text">Cancel your booked slot if you can not make, so as to not hog the line, You will need:</p>
      <ul style="text-align:left; color:black">
        <li>ID/passport number</li>
      </ul>
      <button type="submit" class="btn btn-danger" (click)="cancelSlotToogle()">Cancel Slot</button>
    </div>
  </div>
</div>
<form [formGroup]="retrieveForm" (ngSubmit)="cancelSlot ? cancelBookedSlot() : getCurrentSlot()"
 class="booking-form" *ngIf="cancelSlot || getReference">
  <h2 *ngIf="cancelSlot">Cancel Booked Slot</h2>
  <h2 *ngIf="getReference">Get My Slot</h2>

  <div class="form-group">
    <label for="identification">Type of Identification</label>
    <select id="identification" formControlName="idType" class="form-control">
      <option value=""></option>
      <option value="id">ID</option>
      <option value="passport">Passport</option>
    </select>
    <div class="form-group">
      <label for="idNumber">ID/passport number</label>
      <input id="id-number" type="text" formControlName="idNumber" class="form-control">
    </div>
  </div>
  <div class="buttons">
    <button type="submit" class="btn btn-primary" *ngIf="cancelSlot" [disabled]="!retrieveForm.valid">Cancel Slot</button>
    <button type="submit" class="btn btn-primary" *ngIf="getReference">Get Slot</button>
  </div>
</form>
<form [formGroup]="bookingForm" (ngSubmit)="bookSlot()" class="booking-form" *ngIf="bookAslot and !getReference and !cancelSlot">
  <h2>Book A Slot </h2>
  <div class="form-group">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" formControlName="firstName" class="form-control">
  </div>
  <div class="form-group">
    <label for="last-name">Last Name</label>
    <input id="last-name" type="text" formControlName="lastName" class="form-control">
  </div>
  <div class="form-group">
    <label for="identification">Type of Identification</label>
    <select id="identification" formControlName="idType" class="form-control">
      <option value=""></option>
      <option value="id">ID</option>
      <option value="passport">Passport</option>
    </select>
  </div>
  <div class="form-group">
    <label for="idNumber">ID/passport number</label>
    <input id="id-number" type="text" formControlName="idNumber" class="form-control">
  </div>
  <div class="form-group">
    <label for="date-of-birth">Date of Birth</label>
    <input id="date-of-birth" type="date" formControlName="dateOfBirth" class="form-control">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="tel" id="phone" name="phone" pattern="[0]{1}[1-9]{2}[0-9]{3}[0-9]{4}" formControlName="phone" class="form-control">
  </div>
  <div class="buttons">
    <button type="submit" class="btn btn-primary" [disabled]="!bookingForm.valid">Book A Slot</button>
  </div>
</form>
<div style="height:3em;"></div>
<app-footer></app-footer>
