/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #5a5858;
}

.welcome-page{
    padding: 4em;
    width: 90%;
    margin: auto;
    text-align: center;
}

.welcome-page button{
    margin: 1.5em;
}

h2{
    padding-bottom: 1em;
}

.card{
    display: inline-block;
    width: 18rem;
    height: 23rem;
    margin: 1em;
}

.first-card{
    padding-top: 4em;
}